public/api/conf/2.0/schemas/customs/error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="errorResponse" type="errorResponseType"/>
  <xs:complexType name="errorsType">
    <xs:sequence>
      <xs:element type="errorType" name="error"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorResponseType">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="errorsType" name="errors" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorType">
    <xs:sequence>
      <xs:element type="xs:string" name="code"/>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>