public/api/conf/3.0/schemas/wco/declaration/WCO_DS/CLEARANCE_TYPES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" version="2.6">
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" schemaLocation="../UNECE/UnqualifiedDataType_6_DMS.xsd"/>
  <xs:complexType name="DeclarationTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value="IMJ"/>
        <xs:pattern value="IMK"/>
        <xs:pattern value="EXJ"/>
        <xs:pattern value="EXK"/>
        <xs:pattern value="COJ"/>
        <xs:pattern value="COK"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeclarationGoodsItemQuantityType">
    <xs:simpleContent>
      <xs:restriction base="udt:QuantityType">
        <xs:totalDigits value="5"/>
        <xs:fractionDigits value="0"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeclarationSpecificCircumstancesCodeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeclarationFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalDocumentCategoryCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ExporterNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ExporterIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressCityNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressCountryCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="2"/>
        <xs:pattern value="([a-zA-Z])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressCountrySubDivisionCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="9"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressCountrySubDivisionNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressLineTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressPostcodeIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="9"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConsignorIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConsigneeIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeclarantIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AgentNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AgentIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AgentFunctionCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationHolderIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationHolderCategoryCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="4"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ExitOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PresentationOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SupervisingOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeclarationTotalGrossMassMeasureType">
    <xs:simpleContent>
      <xs:restriction base="udt:MeasureType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="BorderTransportMeansModeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ObligationGuaranteeReferenceIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ObligationGuaranteeSecurityDetailsCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConsigneeNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConsignmentContainerCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ArrivalTransportMeansModeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsLocationNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="256"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsLocationIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsLocationTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AddressTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="ItinerarySequenceNumericType">
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ItineraryRoutingCountryCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="2"/>
        <xs:pattern value="([a-zA-Z])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TransportEquipmentIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ChargeDeductionOtherChargeDeductionAmountType">
    <xs:simpleContent>
      <xs:restriction base="udt:AmountType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="GovernmentAgencyGoodsItemSequenceNumericType">
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AdditionalDocumentNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalDocumentLPCOExemptionCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalInformationStatementCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalInformationStatementDescriptionTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CommodityDescriptionTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ClassificationIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="18"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ClassificationIdentificationTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DutyTaxFeeTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DutyTaxFeeSpecificTaxBaseQuantityType">
    <xs:simpleContent>
      <xs:restriction base="udt:QuantityType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PaymentMethodCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PaymentTaxAssessedAmountType">
    <xs:simpleContent>
      <xs:restriction base="udt:AmountType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PaymentPaymentAmountType">
    <xs:simpleContent>
      <xs:restriction base="udt:AmountType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsMeasureGrossMassMeasureType">
    <xs:simpleContent>
      <xs:restriction base="udt:MeasureType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="InvoiceLineItemChargeAmountType">
    <xs:simpleContent>
      <xs:restriction base="udt:AmountType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="3"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConsignorNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GovernmentProcedureCurrentCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="7"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GovernmentProcedurePreviousCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="7"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PackagingQuantityQuantityType">
    <xs:simpleContent>
      <xs:restriction base="udt:QuantityType">
        <xs:totalDigits value="8"/>
        <xs:fractionDigits value="0"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PreviousDocumentCategoryCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PreviousDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PreviousDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="3"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="PreviousDocumentLineNumericType">
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UCRTraderAssignedReferenceIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImporterNameTextType">
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImporterIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="WarehouseIdentificationIDType">
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
