public/api/conf/2.0/schemas/wco/declaration/CANCEL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:RES-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" targetNamespace="urn:wco:datamodel:WCO:RES-DMS:2"
	elementFormDefault="qualified" version="2.3">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
		schemaLocation="WCO_DS/WCO_DEC_DS_2_DMS.xsd" />

	<xs:simpleType name="CancelTypeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="INV"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FunctionCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="13"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Declaration" type="Declaration">
		<xs:annotation>
			<xs:documentation xml:lang="EN">
				<WCOID>42A</WCOID>
				<WCOName>Declaration</WCOName>
				<WCODescription>THIS IS FOR CANCELLATION</WCODescription>
			</xs:documentation>
			<xs:documentation>
				<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
				<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
				<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
				<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
				<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
				<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="FunctionCode" type="FunctionCode" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOCodeRemarks>EDIFACT codes (1225)</WCOCodeRemarks>
						<WCOFormat>n..2</WCOFormat>
					</xs:documentation>
					<xs:documentation>
						<TDEDUID>1225</TDEDUID>
						<TDEDName>Document.Function.Code</TDEDName>
					</xs:documentation>
					<xs:documentation xml:lang="EN">
						<WCOID>017</WCOID>
						<WCOName>Message function, coded</WCOName>
						<WCODescription>Code indicating the function of a document
						</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<DictionaryEntryName>Declaration. Function. Code
						</DictionaryEntryName>
						<NamedComplexType>DeclarationFunctionCodeType</NamedComplexType>
						<XMLTag>FunctionCode</XMLTag>
						<UniquePositionID>341</UniquePositionID>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
						<WCOUsageUPU>X</WCOUsageUPU>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOFormat>an..35</WCOFormat>
					</xs:documentation>
					<xs:documentation>
						<TDEDUID>1154</TDEDUID>
						<TDEDName>Reference. Identifier</TDEDName>
					</xs:documentation>
					<xs:documentation xml:lang="EN">
						<WCOID>D026</WCOID>
						<WCOName>Functional reference number</WCOName>
						<WCODescription>Reference number identifying a specific
							information exchange</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<DictionaryEntryName>Declaration. Functional Reference. Identifier
						</DictionaryEntryName>
						<NamedComplexType>DeclarationFunctionalReferenceIDType
						</NamedComplexType>
						<XMLTag>FunctionalReferenceID</XMLTag>
						<UniquePositionID>338</UniquePositionID>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOFormat>an..70</WCOFormat>
					</xs:documentation>
					<xs:documentation>
						<TDEDUID>1004</TDEDUID>
						<TDEDName>Document. Identifier</TDEDName>
					</xs:documentation>
					<xs:documentation xml:lang="EN">
						<WCOID>D014</WCOID>
						<WCOName>Document reference number</WCOName>
						<WCODescription>Reference number identifying a specific document
						</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<DictionaryEntryName>Declaration. Identification. Identifier
						</DictionaryEntryName>
						<NamedComplexType>DeclarationIdentificationIDType
						</NamedComplexType>
						<XMLTag>ID</XMLTag>
						<UniquePositionID>336</UniquePositionID>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
						<WCOUsageUPU>X</WCOUsageUPU>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CancelTypeCode"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOCodeRemarks>EDIFACT codes (1001) or User codes
						</WCOCodeRemarks>
						<WCOFormat>an..3</WCOFormat>
					</xs:documentation>
					<xs:documentation>
						<TDEDUID>1001</TDEDUID>
						<TDEDName>Document. Type.Code</TDEDName>
					</xs:documentation>
					<xs:documentation xml:lang="EN">
						<WCOID>D013</WCOID>
						<WCOName>Document name, coded</WCOName>
						<WCODescription>Code specifying the name of a document
						</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<DictionaryEntryName>Declaration. Type. Code</DictionaryEntryName>
						<NamedComplexType>DeclarationTypeCodeType</NamedComplexType>
						<XMLTag>TypeCode</XMLTag>
						<UniquePositionID>337</UniquePositionID>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Submitter" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOID>17B</WCOID>
						<WCOName>Submitter</WCOName>
						<WCODescription>Details related to the submitter of written or
							electronic documentation</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOFormat>an..70</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>3036</TDEDUID>
									<TDEDName>Party.Name.Text</TDEDName>
								</xs:documentation>
								<xs:documentation xml:lang="EN">
									<WCOID>R058</WCOID>
									<WCOName>Submitter</WCOName>
									<WCODescription>The name of the party who presents a document
										or data for the approval, consideration, or decision of
										another</WCODescription>
								</xs:documentation>
								<xs:documentation>
									<DictionaryEntryName>Submitter. Name. Text
									</DictionaryEntryName>
									<NamedComplexType>SubmitterNameTextType</NamedComplexType>
									<XMLTag>Name</XMLTag>
									<UniquePositionID>54</UniquePositionID>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType"
							minOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOFormat>an..17</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>3039</TDEDUID>
									<TDEDName>Party. Identifier</TDEDName>
								</xs:documentation>
								<xs:documentation xml:lang="EN">
									<WCOID>R059</WCOID>
									<WCOName>Submitter, coded</WCOName>
									<WCODescription>The identifier of the party who presents a
										document or data for the approval, consideration, or decision
										of another</WCODescription>
									<WCOCodeRemarks>International codes (e.g. DUNS, EAN) or user
										codes</WCOCodeRemarks>
								</xs:documentation>
								<xs:documentation>
									<DictionaryEntryName>Submitter. Identification. Identifier
									</DictionaryEntryName>
									<NamedComplexType>SubmitterIdentificationIDType
									</NamedComplexType>
									<XMLTag>ID</XMLTag>
									<UniquePositionID>55</UniquePositionID>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOID>04A</WCOID>
									<WCOName>Address</WCOName>
									<WCODescription>Details relating to an address</WCODescription>
								</xs:documentation>
								<xs:documentation>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>241</WCOID>
												<WCOName>City name</WCOName>
												<WCODescription>Name of a city</WCODescription>
												<WCOFormat>an..35</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3164</TDEDUID>
												<TDEDName>Address.City.Name</TDEDName>
												<DictionaryEntryName>Address. City. Text
												</DictionaryEntryName>
												<NamedComplexType>AddressCityTextType</NamedComplexType>
												<XMLTag>City</XMLTag>
												<WCOUsageUPU>X</WCOUsageUPU>
												<UniquePositionID>56</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOCodeRemarks>EDIFACT codes (3207) = ISO 3166-1 2-alpha
													code</WCOCodeRemarks>
												<WCOID>242</WCOID>
												<WCOName>Country, coded</WCOName>
												<WCODescription>Identification of the name of the country or
													other geographical entity as specified in ISO 3166 and
													UN/ECE Rec 3</WCODescription>
												<WCOFormat>a2</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3207</TDEDUID>
												<TDEDName>Country.Identifier</TDEDName>
												<DictionaryEntryName>Address. Country. Code
												</DictionaryEntryName>
												<NamedComplexType>AddressCountryCodeType</NamedComplexType>
												<XMLTag>CountryCode</XMLTag>
												<WCOUsageUPU>X</WCOUsageUPU>
												<UniquePositionID>57</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountrySubDivisionCode"
										type="ds:AddressCountrySubDivisionCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOCodeRemarks>EDIFACT codes (3229) = ISO 3166-2 2-alpha
													code or User codes</WCOCodeRemarks>
												<WCOID>244</WCOID>
												<WCOName>Country sub-entity identification</WCOName>
												<WCODescription>Code specifying the name of a country
													subdivision</WCODescription>
												<WCOFormat>an..9</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3229</TDEDUID>
												<TDEDName>Country.Subdivision.Identifier</TDEDName>
												<DictionaryEntryName>Address. Country Sub Division. Code
												</DictionaryEntryName>
												<NamedComplexType>AddressCountrySubDivisionCodeType
												</NamedComplexType>
												<XMLTag>CountrySubDivisionCode</XMLTag>
												<UniquePositionID>58</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountrySubDivisionName"
										type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>243</WCOID>
												<WCOName>Country sub-entity name</WCOName>
												<WCODescription>Name of a country subdivision
												</WCODescription>
												<WCOFormat>an..35</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3228</TDEDUID>
												<TDEDName>Country.Subdivision.Name</TDEDName>
												<DictionaryEntryName>Address. Country Sub Division Name.
													Text</DictionaryEntryName>
												<NamedComplexType>AddressCountrySubDivisionNameTextType
												</NamedComplexType>
												<XMLTag>CountrySubDivisionName</XMLTag>
												<UniquePositionID>4346</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>239</WCOID>
												<WCOName>Street and number/P.O. Box</WCOName>
												<WCODescription>Specification of the postal delivery point
													such as street and number or post office box
												</WCODescription>
												<WCOFormat>an..70</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3042</TDEDUID>
												<TDEDName>Postal.DeliveryPoint.Text</TDEDName>
												<DictionaryEntryName>Address. Line. Text
												</DictionaryEntryName>
												<NamedComplexType>AddressLineTextType</NamedComplexType>
												<XMLTag>Line</XMLTag>
												<WCOUsageUPU>X</WCOUsageUPU>
												<UniquePositionID>59</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
										minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>245</WCOID>
												<WCOName>Postcode identification</WCOName>
												<WCODescription>Code specifying a postal zone or address
												</WCODescription>
												<WCOFormat>an..9</WCOFormat>
												<WCOCodeRemarks>User codes</WCOCodeRemarks>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>3251</TDEDUID>
												<TDEDName>Postal.Identifier</TDEDName>
												<DictionaryEntryName>Address. Postcode. Identifier
												</DictionaryEntryName>
												<NamedComplexType>AddressPostcodeIDType</NamedComplexType>
												<XMLTag>PostcodeID</XMLTag>
												<WCOUsageUPU>X</WCOUsageUPU>
												<UniquePositionID>60</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalInformation" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOID>03A</WCOID>
						<WCOName>AdditionalInformation</WCOName>
						<WCODescription>Special request to government from declarant to
							take or not to take action</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatementDescription"
							type="ds:AdditionalInformationStatementDescriptionTextType"
							minOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOID>225</WCOID>
									<WCOName>Additional statement text</WCOName>
									<WCODescription>Description of an additional statement
									</WCODescription>
									<WCOFormat>an..512</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>4440</TDEDUID>
									<TDEDName>FreeText.Text</TDEDName>
									<DictionaryEntryName>Additional Information. Statement
										Description. Text</DictionaryEntryName>
									<NamedComplexType>AdditionalInformationStatementDescriptionTextType
									</NamedComplexType>
									<XMLTag>StatementDescription</XMLTag>
									<UniquePositionID>422</UniquePositionID>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Amendment" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOID>06A</WCOID>
						<WCOName>Amendment</WCOName>
						<WCODescription>Details for updating declaration data. Can cover
							the whole WCO Data Model</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType"
							minOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOCodeRemarks>User codes</WCOCodeRemarks>
									<WCOID>099</WCOID>
									<WCOName>Amendment code</WCOName>
									<WCODescription>Code specifying the reason for a change
									</WCODescription>
									<WCOFormat>an..3</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>4295</TDEDUID>
									<TDEDName>Change.Reason.Code</TDEDName>
									<DictionaryEntryName>Amendment. Change Reason. Code
									</DictionaryEntryName>
									<NamedComplexType>AmendmentChangeReasonCodeType
									</NamedComplexType>
									<XMLTag>ChangeReasonCode</XMLTag>
									<UniquePositionID>427</UniquePositionID>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>