public/api/conf/3.0/schemas/wco/fileupload/FileUploadResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://gov.uk/customs/declarations/file-upload" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://gov.uk/customs/declarations/file-upload" elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="fileUploadResponse" type="FileUploadResponse"/>

    <xs:complexType name="FileUploadResponse">
        <xs:sequence>
            <xs:element name="files" type="Files"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Files">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="file" type="File"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="File">
        <xs:all>
            <xs:element minOccurs="1" name="reference" type="xs:string"/>
            <xs:element minOccurs="1" name="uploadRequest" type="UploadRequest"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="UploadRequest">
        <xs:all>
            <xs:element minOccurs="1" name="href" type="xs:string"/>
            <xs:element minOccurs="1" name="fields">
                <xs:complexType>
                    <xs:all>
                        <xs:element minOccurs="0" name="content-type" type="xs:string"/>
                        <xs:element minOccurs="0" name="acl" type="xs:string"/>
                        <xs:element minOccurs="0" name="key" type="xs:string"/>
                        <xs:element minOccurs="0" name="policy" type="xs:string"/>
                        <xs:element minOccurs="0" name="X-Amz-algorithm" type="xs:string"/>
                        <xs:element minOccurs="0" name="X-Amz-credential" type="xs:string"/>
                        <xs:element minOccurs="0" name="X-Amz-date" type="xs:string"/>
                        <xs:element minOccurs="0" name="x-amz-meta-callback-url" type="xs:string"/>
                        <xs:element minOccurs="0" name="X-Amz-signature" type="xs:string"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

</xs:schema>
