public/api/conf/3.0/schemas/wco/declaration/CLEARANCE_DECLARATION_DEFINITION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           elementFormDefault="qualified" version="2.3">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="WCO_DS/CLEARANCE_TYPES.xsd"/>
    <xs:element name="Declaration" type="Declaration"/>
    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType"
                        minOccurs="0"/>
            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType" minOccurs="0"/>
            <xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType"
                        minOccurs="0">
            </xs:element>
            <xs:element name="SpecificCircumstancesCodeCode"
                        type="ds:DeclarationSpecificCircumstancesCodeCodeType" minOccurs="0"/>
            <xs:element name="AdditionalDocument" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CategoryCode"
                                    type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0">
                        </xs:element>
                        <xs:element name="ID"
                                    type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0">
                        </xs:element>
                        <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType"
                                    minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Agent" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:AgentNameTextType"
                                    minOccurs="0"/>
                        <xs:element name="ID" type="ds:AgentIdentificationIDType"
                                    minOccurs="0"/>
                        <xs:element name="FunctionCode" type="ds:AgentFunctionCodeType"
                                    minOccurs="0"/>
                        <xs:element name="Address" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="CountrySubDivisionCode"
                                                type="ds:AddressCountrySubDivisionCodeType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="CountrySubDivisionName"
                                                type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="Line" type="ds:AddressLineTextType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AuthorisationHolder" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID"
                                    type="ds:AuthorisationHolderIdentificationIDType" minOccurs="0">
                        </xs:element>
                        <xs:element name="CategoryCode"
                                    type="ds:AuthorisationHolderCategoryCodeType" minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BorderTransportMeans" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ModeCode" type="ds:BorderTransportMeansModeCodeType"
                                    minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="ds:DeclarantIdentificationIDType"
                                    minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExitOffice" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="ds:ExitOfficeIdentificationIDType"
                                    minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exporter" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:ExporterNameTextType"
                                    minOccurs="0">
                        </xs:element>
                        <xs:element name="ID" type="ds:ExporterIdentificationIDType"
                                    minOccurs="0">
                        </xs:element>
                        <xs:element name="Address" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                minOccurs="0"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                minOccurs="0"/>
                                    <xs:element name="CountrySubDivisionCode"
                                                type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                                    <xs:element name="CountrySubDivisionName"
                                                type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                                    <xs:element name="Line" type="ds:AddressLineTextType"
                                                minOccurs="0"/>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GoodsShipment" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Consignee" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="ds:ConsigneeNameTextType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="ID"
                                                type="ds:ConsigneeIdentificationIDType" minOccurs="0"/>
                                    <xs:element name="Address" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CountrySubDivisionCode"
                                                            type="ds:AddressCountrySubDivisionCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CountrySubDivisionName"
                                                            type="ds:AddressCountrySubDivisionNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Line" type="ds:AddressLineTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Consignment" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ContainerCode" type="ds:ConsignmentContainerCodeType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="ArrivalTransportMeans" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ModeCode"
                                                            type="ds:ArrivalTransportMeansModeCodeType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GoodsLocation" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:GoodsLocationNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:GoodsLocationIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="TypeCode" type="ds:AddressTypeCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CityName"
                                                                        type="ds:AddressCityNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountryCode"
                                                                        type="ds:AddressCountryCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="PostcodeID"
                                                                        type="ds:AddressPostcodeIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Itinerary" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:ItinerarySequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="RoutingCountryCode"
                                                            type="ds:ItineraryRoutingCountryCodeType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportEquipment" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ID"
                                                            type="ds:TransportEquipmentIdentificationIDType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CustomsValuation" minOccurs="0"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ChargeDeduction" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="OtherChargeDeductionAmount"
                                                            type="ds:ChargeDeductionOtherChargeDeductionAmountType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GovernmentAgencyGoodsItem" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric"
                                                type="ds:GovernmentAgencyGoodsItemSequenceNumericType"
                                                minOccurs="1">
                                    </xs:element>
                                    <xs:element name="AdditionalDocument" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CategoryCode"
                                                            type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:AdditionalDocumentIdentificationIDType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Name" type="ds:AdditionalDocumentNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode"
                                                            type="ds:AdditionalDocumentTypeCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="LPCOExemptionCode"
                                                            type="ds:AdditionalDocumentLPCOExemptionCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AdditionalInformation" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="StatementCode"
                                                            type="ds:AdditionalInformationStatementCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="StatementDescription"
                                                            type="ds:AdditionalInformationStatementDescriptionTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Commodity" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Description"
                                                            type="ds:CommodityDescriptionTextType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Classification" minOccurs="0"
                                                            maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ID"
                                                                        type="ds:ClassificationIdentificationIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="IdentificationTypeCode"
                                                                        type="ds:ClassificationIdentificationTypeCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="DutyTaxFee" minOccurs="0"
                                                            maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="SpecificTaxBaseQuantity"
                                                                        type="ds:DutyTaxFeeSpecificTaxBaseQuantityType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="TypeCode" type="ds:DutyTaxFeeTypeCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="Payment" minOccurs="0"
                                                                        maxOccurs="1">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="MethodCode"
                                                                                    type="ds:PaymentMethodCodeType"
                                                                                    minOccurs="0">
                                                                        </xs:element>
                                                                        <xs:element name="TaxAssessedAmount"
                                                                                    type="ds:PaymentTaxAssessedAmountType"
                                                                                    minOccurs="0">
                                                                        </xs:element>
                                                                        <xs:element name="PaymentAmount"
                                                                                    type="ds:PaymentPaymentAmountType"
                                                                                    minOccurs="0">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="GoodsMeasure" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="GrossMassMeasure"
                                                                        type="ds:GoodsMeasureGrossMassMeasureType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="InvoiceLine" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ItemChargeAmount"
                                                                        type="ds:InvoiceLineItemChargeAmountType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TransportEquipment" minOccurs="0"
                                                            maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ID"
                                                                        type="ds:TransportEquipmentIdentificationIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignee" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:ConsigneeNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:ConsigneeIdentificationIDType" minOccurs="0"/>
                                                <xs:element name="Address" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="CityName"
                                                                        type="ds:AddressCityNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountryCode"
                                                                        type="ds:AddressCountryCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountrySubDivisionCode"
                                                                        type="ds:AddressCountrySubDivisionCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountrySubDivisionName"
                                                                        type="ds:AddressCountrySubDivisionNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="PostcodeID"
                                                                        type="ds:AddressPostcodeIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignor" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:ConsignorNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:ConsignorIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="CityName"
                                                                        type="ds:AddressCityNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountryCode"
                                                                        type="ds:AddressCountryCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountrySubDivisionCode"
                                                                        type="ds:AddressCountrySubDivisionCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountrySubDivisionName"
                                                                        type="ds:AddressCountrySubDivisionNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="PostcodeID"
                                                                        type="ds:AddressPostcodeIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CustomsValuation" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ChargeDeduction" minOccurs="0"
                                                            maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="OtherChargeDeductionAmount"
                                                                        type="ds:ChargeDeductionOtherChargeDeductionAmountType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GovernmentProcedure" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CurrentCode"
                                                            type="ds:GovernmentProcedureCurrentCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="PreviousCode"
                                                            type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Packaging" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="QuantityQuantity"
                                                            type="ds:PackagingQuantityQuantityType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CategoryCode"
                                                            type="ds:PreviousDocumentCategoryCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:PreviousDocumentIdentificationIDType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode"
                                                            type="ds:PreviousDocumentTypeCodeType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="LineNumeric"
                                                            type="ds:PreviousDocumentLineNumericType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="TraderAssignedReferenceID"
                                                            type="ds:UCRTraderAssignedReferenceIDType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Importer" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="ds:ImporterNameTextType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="ID" type="ds:ImporterIdentificationIDType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CountrySubDivisionCode"
                                                            type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                                                <xs:element name="CountrySubDivisionName"
                                                            type="ds:AddressCountrySubDivisionNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Line" type="ds:AddressLineTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PreviousDocument" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CategoryCode"
                                                type="ds:PreviousDocumentCategoryCodeType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="ID"
                                                type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="LineNumeric"
                                                type="ds:PreviousDocumentLineNumericType" minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TraderAssignedReferenceID"
                                                type="ds:UCRTraderAssignedReferenceIDType" minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Warehouse" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType"
                                                minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ObligationGuarantee" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReferenceID"
                                    type="ds:ObligationGuaranteeReferenceIDType" minOccurs="0">
                        </xs:element>
                        <xs:element name="SecurityDetailsCode"
                                    type="ds:ObligationGuaranteeSecurityDetailsCodeType" minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PresentationOffice" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID"
                                    type="ds:PresentationOfficeIdentificationIDType" minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SupervisingOffice" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID"
                                    type="ds:SupervisingOfficeIdentificationIDType" minOccurs="0">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
